services:
  nginx:
    image: ghcr.io/maymeow/links-short/proxy:latest
    container_name: links-proxy
    volumes_from:
      - app
    ports:
      - "8084:80"
    depends_on:
      - app
      
  app:
    image: ghcr.io/maymeow/links-short/app:latest
    user: "11235:11235"
    container_name: links-app
    environment:
      - DEBUG=false
    volumes:
      - ./data:/data
      - /var/www
